* {
    position:relative;
}

.col-25 {
    height: 85vh;
    width: 15vw;
    float: left;
    overflow-y: auto;
}

.col-75 {
    height: 85vh;
    width: 84vw;
    float: left;
    overflow-y: auto;
}

.side-bar {
    display: flex;
    flex-direction: column;
    
}

    .side-bar ul {
        list-style-type: none;
        padding: 0;        
        font-size: 0.85em;
        font-weight: 500;
        color: rgba(0,0,0,0.4);
    }

.banner-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
    background-color: #2d383a;    
    height:10vh;
    margin-bottom:2.5vh;
}

 .banner-header img {
     display:inline-block;
     height:8vh;
     margin:0 0.5em;
 }

.side-bar-body {
    padding-left: 10px;
}

    .side-bar-body label {
        color: rgba(0,0,0,0.6);        
        display: block;
        font-weight: 900;
        padding: 5px 10px;
        margin-top: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        border-radius: 4px;
    }


.api-link {   
    transition: all .1s ease;
    padding: 8px 5px 8px 10px;   
}

.api-link-clicked {
    cursor: pointer;
    border-right: 2px solid #06a11a;
    transition: all .1s ease;
    color: rgba(0,0,0,0.6);
}

.api-link:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.05);
    border-radius: 4px;
    border: none !important;
    color: rgba(0,0,0,0.6);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
    border: none;
    background-clip: content-box;
}


    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(45,116,213,1);
    }

 