.App {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
}

    .side-bar ul {
        list-style-type: none;
        padding: 0;        
        font-size: 0.85em;
        font-weight: 500;
        color: rgba(0,0,0,0.5)
    }

.banner-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: whitesmoke;
    background-color: #2d383a;    
}

 .banner-header img {
     display:inline-block;
     width:1em;
     margin:0 0.5em;
 }

.side-bar-body {
    padding-left: 10px;
}

    .side-bar-body label {
        color: rgba(0,0,0,0.6);
        /*background-color: rgba(0,255,0,0.1);*/
        display: block;
        font-weight: 900;
        padding: 5px 10px;
        margin-top: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        border-radius: 4px;
    }


.api-link {   
    transition: all .1s ease;
    padding: 8px 5px 8px 10px;   
}

    .api-link-clicked {
        cursor: pointer;
        border-right: 2px solid #06a11a;
        transition: all .1s ease;
    }

.api-link:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.05);
    border-radius: 4px;
    border:none !important;
}


#api-data {
    width: 90vw;
    padding-left: 30px;
    overflow-y: scroll;
}
